/*!
 * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@at-root {
	@-ms-viewport {
		width: device-width;
	} // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.wp-columns-row{
	@import '../node_modules/bootstrap/scss/functions';
	@import '../node_modules/bootstrap/scss/variables';

	@import '../node_modules/bootstrap/scss/mixins/breakpoints';
	@import '../node_modules/bootstrap/scss/mixins/grid-framework';
	@import '../node_modules/bootstrap/scss/mixins/grid';

	@import '../node_modules/bootstrap/scss/grid';
	@import '../node_modules/bootstrap/scss/utilities/flex';
}

body .row.wp-columns-row{
	margin-right: 0;
	margin-left: 0;
}